body {background-color: white;}
        h1 { text-align: center; color: blue;}
        h2,ol { font-size: medium; color: black;}
        h3 {color: darkred; font-size: large; text-align: center;}
        P { color: cornflowerblue; font-size: medium;}